@import '../../assets/style/variable.scss';

//Smartphone & Tablet Style
@media screen and (max-width: $breakpoint-medium-max), handheld {
    .calender {
        $border-radius: 4px;
        background-color: $bg-blue;
        border-radius: $border-radius;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2);
        margin-top: -10vh;

        .month {
            height: 10%;
            background-color: $primary-yellow;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            .arrow {
                width: 5vh;
                height: 5vh;

                &-Left {
                    transform: translateY(87%);
                }

                &-Right {
                    transform: translateX(520%) translateY(-87%);
                }
            }

            .monthDesc {
                @include font($flow-font-name, 2.5vh, white, bold);
                transform: translateX(30%);
            }
        }

        .day {
            background-color: $primary-blue;
            @include font($flow-font-name, 2vh, $primary-yellow);
            border-radius: $border-radius;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            border-radius: $border-radius;
            background-color: $cal-day;
            @include font($flow-font-name, 2vh, $primary-yellow);
            height: 10vh;

            &.current-day {
                background-color: $primary-blue;
                color: $primary-yellow;
            }

            .eventCal {
                background-color: lighten($primary-blue, 5%);
                @include font($flow-font-name, 2vh, white);
                width: 80%;
                transform: translateX(10%);
            }
        }
    }
}

//Desktop Style
@media screen and (min-width: $breakpoint-large) {
    $border-radius: 15px;
    $width: 60vw;
    $sqrLength: calc(#{$width} / 7);

    .calender {
        background-color: $bg-blue;
        border-radius: $border-radius;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2);
        margin: 2vh 0;
        width: $width;
        height: $width;

        .month {
            @include min-max-height(15%);
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background-color: $primary-yellow;
            width: 100%;
            text-align: center;

            .arrow {
                width: 2vw;
                height: 2vw;
                position: absolute;

                &-Left {
                    float: left;
                    left: 10px;
                }

                &-Right {
                    float: left;
                    right: 10px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .monthDesc {
                @include font($flow-font-name, 5rem, white, bold);
                float: left;
            }
        }

        .day {
            background-color: $primary-blue;
            border-radius: 10px;
            @include font($flow-font-name, 3vh, $primary-yellow, bold);
            height: 5vh;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            border-radius: 20px;
            @include font($flow-font-name, 3vh, $primary-yellow, bold);
            background-color: $cal-day;
            height: $sqrLength;
            width: $sqrLength;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

            &.current-day {
                background-color: $primary-blue;
                color: $primary-yellow;
            }

            .date {
                transform: translateY(-70%) translateX(5%);
            }
        }
    }

    .eventCal {
        background-color: lighten($primary-blue,5%);
        @include font($flow-font-name, 1rem, white);
        border-radius: 6px;
        position: absolute;
        width: calc(#{$sqrLength} - 40px);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2), -3px -3px 5px rgba(0,0,0,0.2);
        text-align: center;
        transform: translateY(-200%);

        &:hover {
            cursor: pointer;
        }
    }
}

//Print Stylesheet
@media print {
    $sqrLength: calc(100vw/7);

    .calender {
        width: 100vw;
        height: 100vh;
        margin: 0;
        margin-left: -10vw;

        .month {
            .arrow {
                display: none;
            }

            .monthDesc {
                @include font($flow-font-name, 5vh, bold);
                padding: 1vh 0;
            }
        }

        .day {
            width: $sqrLength;
            height: $sqrLength;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            height: $sqrLength;
            width: $sqrLength;
            text-align: center;

            .date {
                transform: translateY(-100%);
                padding: 5px 0;
                border-bottom: 1px solid #2f2f2f;
            }

            .eventCal {
                transform: translateY(100%);
                margin-top: -1.8vh;
            }
        }
    }
}
