@import '../../assets/style/variable.scss';

.badgeNumber {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,.3)) drop-shadow(-3px -3px 3px rgba(255,255,255,.1));
}

//Smartphone & small Tablet Style
@media screen and (max-width: $breakpoint-medium-max), handheld {
    .calender {
        $border-radius: 4px;
        background-color: $bg-blue;
        border-radius: $border-radius;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2);
        margin-top: -10vh;
        margin-bottom: 10vh;

        .month {
            height: 10%;
            background-color: $primary-yellow;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            &-banner{
                height: 8vh;
            }

            .arrow {
                width: 5vh;
                height: 5vh;

                &-Left {
                    transform: translateX(-50%);
                }

                &-Right {
                    transform: translateX(500%);
                }
            }

            .monthDesc {
                @include font($flow-font-name, 2rem, white, bold);
                transform: translateX(-25%);
            }
        }

        .day {
            background-color: $primary-blue;
            @include font($flow-font-name, 2vh, $primary-yellow);
            border-radius: $border-radius;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            border-radius: $border-radius;
            background-color: $cal-day;
            @include font($flow-font-name, 2vh, $primary-yellow);
            height: 10vh;
            width: 10vw;
            position: relative;

            &.current-day {
                background-color: $primary-blue;
                color: $primary-yellow;
            }

            .eventCal {
                display: none;
            }

            .date {
                position: absolute;
                top: 10px;
                left: 5px;
            }

            .badgeNumber {
                position: absolute;
                right: 20px;
                bottom: 5px;
                width: 20px;
                height: 20px;
                transform: translateX(50%) translateY(-50%);
                background-color: $primary-blue;
                border-radius: 20px;
                font-size: .7rem;

                p {
                    margin-left: 6px;
                }
            }
        }
    }
}

//Tablet Style
@media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-large-max) {
    $border-radius: 10px;
    $width: 80vw;
    $sqrLength: calc(#{$width} / 7);

    .calender {
        background-color: $bg-blue;
        border-radius: $border-radius;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2);
        width: $width;
        margin: 2vh 0 10vh;

        .month {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background-color: $primary-yellow;
            width: 100%;
            text-align: center;

            .arrow {
                width: 5vw;
                height: 5vw;
                position: absolute;


                &-Left {
                    float: left;
                    left: 10%;
                }

                &-Right {
                    float: left;
                    right: 10%;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .monthDesc {
                @include font($flow-font-name, 5rem, white, bold);
                float: left;
                text-align: center;
                width: 100%;
            }
        }

        .day {
            background-color: $primary-blue;
            border-radius: 10px;
            @include font($flow-font-name, 3vh, $primary-yellow, bold);
            height: 5vh;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            border-radius: 20px;
            @include font($flow-font-name, 1.5rem, $primary-yellow, bold);
            background-color: $cal-day;
            height: $sqrLength;
            width: $sqrLength;
            position: relative;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

            &.current-day {
                background-color: $primary-blue;
            }

            .date {
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .badgeNumber {
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 15px;
                width: 38px;
                height: 38px;
                background-color: $primary-blue;
                border-radius: 25px;
                z-index: 2;
                font-size: 1.5rem;

                p {
                    margin-left: 10px;
                    margin-top: -2px;
                }
            }
        }
    }

    .eventCal {
        background-color: lighten($primary-blue,5%);
        @include font($flow-font-name, 1rem, white);
        border-radius: 6px;
        width: calc(#{$sqrLength} - 40px);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2), -3px -3px 5px rgba(0,0,0,0.2);
        text-align: center;
        position: absolute;
        transform: translateX(18%);

        &:hover {
            cursor: pointer;
        }
    }
}

//Desktop Style
@media screen and (min-width: $breakpoint-xlarge) {
    $border-radius: 15px;
    $width: 60vw;
    $sqrLength: calc(#{$width} / 7);

    .calender {
        background-color: $bg-blue;
        border-radius: $border-radius;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2);
        width: $width;
        margin: 2vh 0 10vh;

        .month {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background-color: $primary-yellow;
            width: 100%;
            text-align: center;

            .arrow {
                width: 2vw;
                height: 2vw;
                position: absolute;


                &-Left {
                    float: left;
                    left: 20%;
                }

                &-Right {
                    float: left;
                    right: 20vw;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .monthDesc {
                @include font($flow-font-name, 5rem, white, bold);
                float: left;
                text-align: center;
                width: 100%;
            }
        }

        .day {
            background-color: $primary-blue;
            border-radius: 10px;
            @include font($flow-font-name, 3vh, $primary-yellow, bold);
            height: 5vh;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            border-radius: 20px;
            @include font($flow-font-name, 2rem, $primary-yellow, bold);
            background-color: $cal-day;
            height: $sqrLength;
            width: $sqrLength;
            position: relative;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

            &.current-day {
                background-color: $primary-blue;
            }

            .date {
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .badgeNumber {
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 15px;
                width: 50px;
                height: 50px;
                background-color: $primary-blue;
                border-radius: 25px;
                z-index: 2;
                font-size: 2rem;

                p {
                    margin-left: 12.5px;
                    margin-top: -2px;
                }
            }
        }
    }

    .eventCal {
        background-color: lighten($primary-blue,5%);
        @include font($flow-font-name, .8rem, white);
        border-radius: 6px;
        width: calc(#{$sqrLength} - 40px);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2), -3px -3px 5px rgba(0,0,0,0.2);
        text-align: center;
        position: absolute;
        transform: translateX(5%);

        &:hover {
            cursor: pointer;
        }
    }
}

//Print Stylesheet
@media print {
    $sqrLength: calc(100vw/7);

    .calender {
        width: 100vw;
        height: 100vh;
        margin: 0;
        margin-left: -10vw;

        .month {
            .arrow {
                display: none;
            }

            .monthDesc {
                @include font($flow-font-name, 5vh, bold);
                padding: 1vh 0;
            }
        }

        .day {
            width: $sqrLength;
            height: $sqrLength;
        }

        .prev-month {
            opacity: .5;
        }

        .month-day {
            height: $sqrLength;
            width: $sqrLength;
            text-align: center;

            .date {
                transform: translateY(-100%);
                padding: 5px 0;
                border-bottom: 1px solid #2f2f2f;
            }

            .eventCal {
                transform: translateY(100%);
                margin-top: -1.8vh;
            }
        }
    }
}

.calRow {
    background-color: $primary-blue;
    width: 90%;
    border-radius: 15px;
    cursor: pointer;

    p {
        margin-left: 25px;
        padding: 15px;
    }
}