@import "../../assets/style/variable.scss";

.commentBox {
    background-color: $primary-blue;
    margin: 10vh 0 0;
    box-shadow: 5px -5px 10px rgba(0,0,0,.2), -5px 5px 10px rgba(0,0,0,.2);

    @media screen and (max-width: $breakpoint-medium-max) {
        margin-bottom: 20vh;
    }

    .heading {
        box-shadow: -5px 5px 10px rgba(0,0,0,.5);
        h2 {
            font-size: 7vh;
            padding: 2rem 0;
        }
    }

    .comments {
        max-height: 80vh;
        width: 70%;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        .comment {
            width: 100%;

            .singleCommentBox {
                margin-top: 5vh;
                background-color: #ededed;
                border-radius: 20px;
                padding: 1rem .5rem;
                margin-bottom: 2vh;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

                .row {
                    color: white;
                    width: 100%;
                    margin-bottom: 2vh;

                    .shotName {
                        background-color: $primary-yellow;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        transform: translateX(0%) translateY(-70%);
                        float: left;

                        p {
                            @include font($flow-font-name, 20px, #2f2f2f, bold);
                            transform: translateY(40%) translateX(23%);
                        }
                    }

                    .name {
                        @include font($flow-font-name, 2rem, #2f2f2f, bold);
                    }

                    .text {
                        @include font($flow-font-name, 1rem, #2f2f2f);
                        padding-left: 3rem;
                    }
                }

                .images {
                    overflow: auto;
                    width: 80%;
                    opacity:1;
                    overflow: -moz-scrollbars-none;
                    -ms-overflow-style: none;

                    &::-webkit-scrollbar {
                        width: 0 !important;
                    }

                    .row {
                        margin: 3vh 0;
                        display: flex;
                        width: 100%;

                        .col {
                            float: left;
                            border: 2px solid $primary-yellow;
                            padding: 2px;
                            height: 20vh;
                            background-color: $primary-blue;

                            img {
                                display: inline;
                                max-height: 20vh;
                            }
                        }
                    }
                }
            }
        }
    }

    .addComment {
        box-shadow: 5px -5px 10px rgba(0,0,0,.2);
        background-color: $primary-blue;
        z-index: 80;
        height: 10vh;

        .box {
            width: 70%;
            margin: 2vh 0;
            height: 80%;

            .textInput {
                width: 80%;
                float: left;
                height: 100%;

                @media screen and (max-width: $breakpoint-medium-max) {
                    width: 100%;
                    margin-bottom: 2vh;
                }

                .input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 1vw;
                    padding-left: 1vw;
                    @include font($flow-font-name, 2vh, #2f2f2f);
                }
            }

            .addButton {
                float: left;
                background-color: white;
                width: 5vh;
                height: 5vh;
                border-radius: 3vh;
                margin: 0 1vw;
                color: #2f2f2f;

                @media screen and (max-width: $breakpoint-medium-max) {
                    width: 5vh;
                    height: 5vh;
                    border-radius: 5vh;
                }

                .text {
                    @media screen and (max-width: $breakpoint-medium-max) {
                        font-size: 10vh;
                        transform: translateY(-18%);
                    }
                }

                .flowUp {
                    display: none;
                    position: relative;
                    width: 12vw;
                    min-width: 300px;
                    height: 4vh;
                    border-radius: 3vh;
                    background-color: white;
                    transform: translateY(250%);
                    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
                    opacity: 0;
                    transition: all 1s;
                    color: #2f2f2f;

                    &-active {
                        transition: all 1s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateY(-250%);
                        opacity: 1;

                        @media screen and (max-width: $breakpoint-medium-max) {
                            transform: translateX(-70%) translateY(-200%);
                        }
                    }

                    .row {
                        width: 100%;

                        .symbol {
                            min-width: 20%;
                            float: left;
                        }

                        .text {
                            margin-left: 30%;
                            float: left;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .sendButton {
                float: left;
                background-color: $primary-yellow;
                width: 5vh;
                height: 5vh;
                border-radius: 3vh;
                color: #2f2f2f;

                @media screen and (max-width: $breakpoint-medium-max) {
                    margin-left: 5vw;
                    width: 5vh;
                    height: 5vh;
                    border-radius: 5vh;
                }

                &:hover {
                    cursor: pointer;
                }

                .check {
                    button {
                        width: 60%;
                        height: 800%;
                        background-color: transparent;
                        border: none;
                        transform: translateY(30%);

                        @media screen and (max-width: $breakpoint-medium-max) {
                            transform: translateY(30%);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .text {
                @include font($flow-font-name, 2vh, #2f2f2f, bold);
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20,20,20, 0.8);
    z-index: 200;

    .content {
        width: 60%;
        background-color: rgba(222,222,222,0.75);
        border-radius: 20px;
        padding: 2vh 2vw;

        .close {
            text-align: right;
            @include font($flow-font-name, 4vh, black, bold);
            cursor: pointer;
            position: relative;
        }

        .header {
            @include font($flow-font-name, 2vh, #2f2f2f, bold);
        }

        .form {
            form {
                label {
                    @include font($flow-font-name, 2vh, #2f2f2f, bold);
                }

                .label {
                    float:left;
                    min-width: 15%;
                }

                .input {
                    width: 80%;
                    height: 100%;
                    border: 0;
                    border-radius: 1vw;
                    padding-left: 1vw;
                    @include font($flow-font-name, 2vh, #2f2f2f);
                }

                .checkInput {
                    height: 2vh;
                    width: 2vh;
                }
            }
        }

        .buttons {

            .success {
                cursor: pointer;
                border: none;
                height: 5vh;
                width: 20vw;
                margin-right: 5vw;
                border-radius: 3vh;
                background-color: $primary-yellow;
                opacity: .7;
                @include font($flow-font-name, 2vh, #2f2f2f);
            }

            .failure {
                cursor: pointer;
                border: none;
                height: 5vh;
                width: 20vw;
                margin-right: 5vw;
                border-radius: 3vh;
                background-color: $primary-yellow;
                @include font($flow-font-name, 2vh, #2f2f2f);
            }
        }

        .row {
            width: 100%;
            margin-bottom: 2vh;
        }
    }
}
