@import 'variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-blue;
}

html {
    font-size: 16px;
}

$values: 0,10,20,30,40,50,60,70,80,90,100;
$category: 'opacity';

@each $cat in $category {
    @each $value in $values {
        @if $cat == 'opacity' {
            .#{$cat}-#{$value} {
                #{$cat}: calc(#{$value}/100);
            }
        }
        @else {
            .#{$cat}-#{$value} {
                #{$cat}: #{$value};
            }
        }
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

$col-values: 1,2,3,4,5,6,7,8,9,10,11,12;
$opts: 'col','row';

@each $opt in $opts {
    @each $col in $col-values {
        .#{$opt}-#{$col} {
            @media screen and (min-width: $breakpoint-medium) {
                width: calc(100vw / 12 * #{$col});
            }

            width: $width;
        }
    }
}

.row {
    width: $width;
}

.space-between {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.v-space-between {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

em {
    font-style: normal;
}

.table {
    border-spacing: 1vh;

    @media print {
        border-spacing: 0;
    }
}

.table-responsive {
    overflow-x: scroll;
}

.table-non-bordered {
    border: none;

    @media print {
        border: 1px solid #2f2f2f;
        border-collapse: collapse;
    }

    th, td {
        @media print {
            border: 1px solid #2f2f2f;
        }
    }
}

.x-hidden {
    overflow-x: hidden
}

.y-hidden {
    overflow-y: hidden;
}

.text-align-left {
    text-align: left;
}