@import "variable";

.title {
    margin-top: 10vh;
    margin-left: 10vw;
    @include font($header-font-name, 10vh, white, bold);
    line-height: 10vh;
    z-index: 1;

    .vertical {
        writing-mode: vertical-lr;
        font-size: 8vh;
        transform: translateX(-100%) translateY(-50%) rotate(180deg);
        background-color: transparent;
        z-index: -1;
    }

    p:last-child {
        transform: translateY(-15vh);
    }
}

.image {
    z-index: 0;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,.2)) drop-shadow(-5px -5px 15px rgba(0,0,0,.2));
    overflow: hidden;
    user-select: none;
    user-focus: none;

    #canvas3d {
        display: none;
    }
}

main {
    h2 {
        font-size: 9.25vh;
        font-family: $header-font-name;
        color: white;
        text-align: center;
    }
}

.singleEvents, .singleNews {
    margin-top: 13vh;
    display: flex;
    flex-wrap: wrap;
}

.link {
    margin-top: -40%;
    margin-bottom: 7vh;

    .further-link {
        text-decoration: none;
        color: $primary-yellow;
        @include font($header-font-name, 3.32vh, $primary-yellow, bold);
    }
}

.underline {
    @include text-underline($primary-blue, .1vh, 5px);
}

.reduceMobile {
    margin-bottom: -6rem;
}
