@import "variable";

.title {
    z-index: 1;
    margin-top:-5vh;
    line-height: 18vh;
    @include font($header-font-name, 20vh, white, bold);
    user-select: none;

    h1 {
        font-size: 20vh;
    }

    .vertical {
        writing-mode: vertical-lr;
        transform: translateX(-90%) translateY(-55%) rotate(180deg);
        font-size: 18vh;
        background-color: transparent;
        z-index: -1;
    }
}

.image {
    z-index: 0;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,.2)) drop-shadow(-5px -5px 15px rgba(0,0,0,.2));
    overflow: hidden;

    #canvas3d {
        height: 140vh;
    }
}

.image-no-shadow {
    z-index:0;
    overflow: hidden;

    #canvas3d {
        height: 140vh;
    }
}

main {
    h2 {
        font-size: 9.25vh;
        font-family: $header-font-name;
        color: white;
        text-align: center;
    }
}

.singleEvents, .singleNews {
    display: flex;
    flex-wrap: wrap;
}

.link {
    margin-bottom: 7vh;

    &-noMargin {
        .further-link {
            text-decoration: none;
            color: $primary-yellow;
            @include font($header-font-name, 3.32vh, $primary-yellow, bold);
        }
    }

    .further-link {
        text-decoration: none;
        color: $primary-yellow;
        @include font($header-font-name, 3.32vh, $primary-yellow, bold);
        transition: font-size .3s;
        filter: drop-shadow(2px 2px 5px rgba(0,0,0,.2)) drop-shadow(-2px -2px 5px rgba(255,255,255 , .2));
        cursor: pointer;
        background-color: $primary-blue;
        padding: 10px 25px;
        border-radius: 6px;
        transition: box-shadow .5s;

        &:hover {
            box-shadow: inset 2px 2px 5px rgba(0,0,0,.2), inset -2px -2px 5px rgba(0,0,0,.2);
            transition: box-shadow .5s;
        }
    }

    .linkTop {
        text-decoration: none;
        color: $primary-yellow;
        @include font($header-font-name, 3.32vh, $primary-yellow, bold);
        cursor: pointer;
    }
}

.underline {
    @include text-underline($primary-blue, .1vh, 5px);
}

