// The Main blue Color
$primary-blue: #00629B;

// The Main Yellow Color
$primary-yellow: #FFC72C;

// The blue tone for the background
$bg-blue: #6cace4;

// The yellowisch tone for the calender days
$cal-day: rgba(169, 161, 138, 0.6);

//Variable Block for Font Definition Can also include link to google fonts
$header-font-name: 'Source Serif Pro', serif;
$flow-font-name: 'Nunito Sans', sans-serif;
$max-fontsize: 3em;
$min-fontsize: 1em;

//Variables for Breakpoint
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1490px;
$breakpoint-mini-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);


//Page Definitions Variables
$width: 80vw;
$width-card: 70vw;

//-------Mixins---------
//Font Mixin
@mixin font($family, $size, $color:inherit, $weight: normal) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

//Min Height and Max Height
@mixin min-max-height($min-height, $max-height: $min-height) {
    min-height: $min-height;
    max-height: $max-height;
}

//Min Width and Max Width
@mixin min-max-width($min-width, $max-width: $min-width) {
    min-width: $min-width;
    max-width: $max-width;
}

//Min Max Width and Height
@mixin min-max-height-width($min-height, $min-width, $max-height: $min-height, $max-width: $min-width) {
    @include min-max-height($min-height, $max-height);
    @include min-max-width($min-width, $max-width);
}

//Underline with border
@mixin text-underline($color, $spacing, $width) {
    border-bottom: $width solid $color;
    padding-bottom: $spacing;
}

//Add Fonts for Local usage
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/static/fonts/Nunito_Sans/NunitoSans-Italic.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
    src: url("/static/fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 200;
    src: url("/static/fonts/Nunito_Sans/NunitoSans-Light.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: normal;
    src: url("/static/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: italic;
    font-weight: normal;
    src: url("/static/fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 200;
    src: url("/static/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: italic;
    font-weight: light;
    src: url("/static/fonts/Source_Serif_Pro/SourceSerifPro-Light.ttf");
}
