@import '../variable';

@media screen and (max-width: $breakpoint-medium-max), handheld {
    .footer {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-large) {
    .footer {
        background-color: $primary-yellow;
        height: 33vh;
        font-family: $flow-font-name;
    }

    .navigation {
        width: 80%;
        height: 80%;
    }

    .scrollTop {
        background-color: $primary-blue;
        width: 6vw;
        height: 6vw;
        right: 0;
        position: absolute;
        box-shadow: 3px -3px 20px rgba(0, 0, 0, .16), -3px 3px 20px rgba(0, 0, 0, .16);
        transform: translateX(-25%) translateY(-140%);
        cursor: pointer;

        @media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-large-max), handheld {
            width: 10vw;
            height: 10vw;
            transform: translateY(-120%) translateX(-25%);
        }

        .arrow {
            width: 80%;
        }
    }

    .first-row {
        width: 100%;
        display: flex;
    }

    .footer-nav {
        font-size: 5vh;
        color: white;
        text-decoration: none;
        transition: .5s;
        font-weight: bold;

        &:hover {
            color: $primary-blue;
            transition: .5s;
        }
    }

    .second-row {
        width: 50%;
        display: flex;
    }

    .footer-nav-2 {
        font-size: 3.5vh;
        color: white;
        transition: .5s;
        text-decoration: none;

        &:hover {
            color: $primary-blue;
            font-weight: bold;
            transition: .5s;
        }
    }

    .row {
        color: white;
    }

    a {
        cursor: pointer;
    }

    .modal {
        background-color: rgba(20,20,20,0.8);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        .content {

            .close {
                text-align: right;
                @include font($flow-font-name, 4vh, black, bold);
                cursor: pointer;
                position: relative;
            }

            background-color: $primary-yellow;
            border-radius: 20px;
            padding: 2vh 5vw;
            padding-bottom: 5vh;
            width: 60%;

            .location {
                width: 80%;
                height: 60vh;

                .frame {
                    width: 100%;
                    height: 100%;
                }
            }

            .row {
                width: 100%;
            }
        }
    }
}
